[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git 
[submodule "nerdtree-git-plugin"]
	path = nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git 
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "tagbar-markdown"]
	path = tagbar-markdown
	url = https://github.com/lvht/tagbar-markdown.git
[submodule "vim-devicons"]
	path = vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim-lexical"]
	path = vim-lexical
	url = https://github.com/reedes/vim-lexical.git
[submodule "vim-pencil"]
	path = vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "vim-localvimrc"]
	path = vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "vim-liquid"]
	path = vim-liquid
	url = git@github.com:andyk/vim-liquid.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimtex"]
	path = vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = ./vim-bundler/
[submodule "plantuml-syntax"]
	path = plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
[submodule "CCTree"]
	path = CCTree
	url = https://github.com/hari-rangarajan/CCTree.git
